dependencies:
  ## <organization/repo>@<version>
  - smartcontractkit/chainlink-brownie-contracts@0.2.1
  - OpenZeppelin/openzeppelin-contracts@3.4.0

compiler:
  solc:
    remappings:
      - '@chainlink=smartcontractkit/chainlink-brownie-contracts@0.2.1'
      - '@openzeppelin=OpenZeppelin/openzeppelin-contracts@3.4.0'
dotenv: .env


networks:
  default: development
  goerli:
    eth_usd_conversion: '0xD4a33860578De61DBAbDc8BFdb98FD742fA7028e'
  mainnet-fork:
    eth_usd_conversion: '0xD4a33860578De61DBAbDc8BFdb98FD742fA7028e'
wallets:
  from_key: ${PRIVATE_KEY}



